<div class="collapse navbar navbar-default navbar-collapse" id="navbar">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li><a routerLink="/" routerLinkActive="active" class="link">Home</a></li>
            <li><a routerLink="/blog" routerLinkActive="active" class="link">Blog</a></li>
            <li><a routerLink="/login" routerLinkActive="active" class="link">Login</a></li>
            <li><a routerLink="/admin" routerLinkActive="active" class="link">Admin</a></li>
        </ul>
    </div>
</div>