<div class="blog-item">
    <router-outlet name="blogitemoutlet"></router-outlet>
    <hr />
    <div class="blog-image">
        <img *ngIf="item.image" [src]="item.image" [alt]="item.title" />
    </div>
    <div class="blog-summary">
        <h2>
            {{item?.title}}<br />
            <div class="fa fa-trash"
                 (click)="onDelete(item.id)"></div>
            <div class="fa fa-edit"
                 (click)="onEdit(item.id)"></div>
        </h2>
        <h3>Written by: <em>{{item?.author}}</em> on <em>{{item?.date}}</em></h3>
        <p>{{item?.text}}</p>
    </div>
</div>